@page "/"
@using System.Net.Http;
@inject BlazoradeMsalService MsalService;

@code {

    private HttpClient? Client = null;
    private async Task<HttpClient> GetHttpClientAsync()
    {
        if(null == this.Client)
        {
            var scopes = new string[] { "User.Read", "Files.Read" };
            var authResult = await this.MsalService.AcquireTokenAsync(scopes: scopes, fallbackToDefaultLoginHint: true);

            this.Client = new HttpClient();
            this.Client.DefaultRequestHeaders.Authorization = new System.Net.Http.Headers.AuthenticationHeaderValue("Bearer", authResult.AccessToken);
        }

        return this.Client;
    }

    private async Task GetDataAsync()
    {
        var client = await this.GetHttpClientAsync();
        var graphClient = new GraphServiceClient(client);
        var me = await graphClient.Me.Request().GetAsync();
    }
}

<PageTitle>Calling Microsoft Graph</PageTitle>

<h1>Read Graph Data</h1>
<p>
    Click the button below to read the following data by connecting to Microsoft Graph on behalf of the logged in user.
</p>
<ul>
    <li>Basic user information</li>
    <li>Files in the root of the user's OneDrive folder</li>
</ul>

<hr />

<button class="btn btn-primary" @onclick="async (e) => await this.GetDataAsync()">Get Data</button>
